[Unit]
Description=WAL Streamer instance for %I
After=network.target
Requires=pgbckctl-launcher.service

[Service]
Type=forking
ExecStart=/usr/bin/pg_backup_ctl++ --wal-streamer --archive-name=%i
User=postgres
Group=postgres
KillSignal=SIGTERM

[Install]
WantedBy=default.target
